
@{
    Layout = null;
    var session = (ThaiSonBacDMS.Common.UserSession)Session[ThaiSonBacDMS.Common.CommonConstants.USER_SESSION];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thái Sơn Bắc - TSB</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Back to top -->
    <link rel="stylesheet" href="/Assets/dist/css/back-to-top.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/Assets/dist/css/jquery-ui.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/Assets/dist/css/animate.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
            folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/Assets/dist/css/font/GoogleFont.css">
    <!-- page css -->
    @RenderSection("IndexStyle", false/*required*/)
    <!-- note srcoll -->
    <link href="~/Assets/dist/css/pages/NoteSrcoll.css" rel="stylesheet" />
</head>

<body class="hold-transition skin-blue-light sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>T</b>SB</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="margin-left: -15px;">
                    <img style="width:50px; height:50px;" class="img-responsive pull-left" src="/Assets/dist/img/Logo TSB - Final.png" alt="Photo">
                    <b style="margin-right: 35px;">Quản lý</b>
                    <span style="position: absolute; margin-top: 15px; margin-left: -107px; font-size: x-small;"><small>Phân hệ</small></span>
                </span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        @{ Html.RenderAction("NotificationHeader", "Home"); }
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Assets/dist/img/user2-160x160.jpeg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@session.user_info.User_name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Assets/dist/img/user2-160x160.jpeg" class="img-circle" alt="User Image">
                                    <p>
                                        @session.user_info.User_name<small>@session.role_name</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="phanphoi_nguoidung_thong-tin-nguoi-dung.html" class="btn btn-default btn-flat">Hồ sơ</a>
                                    </div>
                                    @if (session.roleSelectFlag)
                                    {
                                        <div class="pull-left" style="margin-left: 22px;">
                                            @Html.ActionLink("Đổi phân hệ", "ConfirmRole", new { area = "", controller = "ConfirmRole" }, new { @class = "btn btn-default btn-flat", })
                                        </div>
                                    }
                                    <div class="pull-right">
                                        @Html.ActionLink("Thoát", "Logout", new { area = "", controller = "Login" }, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Note header-->
                @*{ Html.RenderAction("NoteHeader", "Home"); }*@
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Assets/dist/img/user2-160x160.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@session.user_name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Trực tuyến</a>
                    </div>
                </div>
                <!-- search form 
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Tìm Kiếm...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                 /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-file-o"></i> <span>Đơn hàng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="@Url.Action("Index", "LapPhieu")"><i class="fa fa-edit"></i> Lập Phiếu</a></li>
                            <li class="">
                                <a href="@Url.Action("Index", "OrderList")">
                                    <i class="fa fa-file-text"></i>
                                    <span>Phiếu đang soạn</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Processing", "OrderList")">
                                    <i class="fa fa-list-alt"></i>
                                    <span>Phiếu đang xử lý</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Complete", "OrderList")">
                                    <i class="fa fa-files-o"></i>
                                    <span>Phiếu đã hoàn thành</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Store", "OrderList")">
                                    <i class="fa fa-book"></i>
                                    <span>Phiếu giữ hàng</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Store", "ErrorPage")">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    <span>Lịch giao hàng</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Hàng hoá</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="@Url.Action("Index", "GiaSanPham")"><i class="fa fa-dollar"></i> Giá hàng hóa</a></li>
                            <li class=""><a href="@Url.Action("Index", "TonKho")"><i class="fa fa-dropbox"></i> Hàng tồn kho</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-hand-o-right"></i> Yêu cầu nhập
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class=""><a href="@Url.Action("Index", "PO")"><i class="fa fa-edit"></i> Tạo yêu cầu nhập</a></li>
                                    <li class=""><a href="@Url.Action("Index", "PI")"><i class="fa fa-id-card-o"></i> Nhập hoá đơn</a></li>
                                    <li class=""><a href="@Url.Action("Store", "ErrorPage")"><i class="fa fa-table"></i> Lịch sử yêu cầu nhập</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-hand-o-right"></i> Nhập hàng
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class=""><a href="@Url.Action("Index", "Stock")"><i class="fa fa-edit"></i> Tạo đợt nhập mới</a></li>
                                    <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-table"></i> Lịch sử nhập hàng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Công nợ</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="@Url.Action("Index", "DanhSachCongNoKhachHang")"><i class="fa fa-hand-o-right"></i> Công nợ khách hàng</a></li>
                            <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-hand-o-right"></i> Công nợ nhà cung cấp</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i> <span>Giao hàng</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-hand-o-right"></i> Thông tin lái xe</a></li>
                            <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-hand-o-right"></i> Nhân viên giao hàng</a></li>
                            <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-hand-o-right"></i> Thông tin xe hàng</a></li>
                            <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-hand-o-right"></i> Định vị xe hàng</a></li>
                        </ul>
                    </li>

                    <li class="treeview menu-open">
                        <a href="#">
                            <i class="fa fa-pencil-square"></i> <span>Báo cáo</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="">
                                <a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-line-chart"></i> Bán hàng</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index", "BaoCaoDoanhThu")"><i class="fa fa-line-chart"></i> Doanh thu</a>
                            </li>

                            <li class="">
                                <a href="@Url.Action("Index", "BaoCaoCongNoKhachHang")"><i class="fa fa-line-chart"></i> Công nợ khách hàng</a>
                            </li>

                            <li class="">
                                <a href="@Url.Action("Index", "BaoCaoCongNoCungCap")"><i class="fa fa-line-chart"></i> Công nợ nhà cung cấp</a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview ">
                        <a href="#">
                            <i class="fa fa-database"></i> <span>Quản trị</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="">
                                <a href="@Url.Action("Index", "DanhSachKhachHang")"><i class="fa fa-users"></i> Danh sách khách hàng</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index", "DanhSachNhaCungCap")"><i class="fa fa-users"></i> Danh sách nhà cung cấp</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index", "DanhSachNguoiDungDangHoatDong")"><i class="fa fa-users"></i> Danh sách người dùng</a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-paper-plane"></i> Hàng hoá
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class=""><a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-tags"></i> Danh mục</a></li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-anchor"></i> Sản phẩm
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li class=""><a href="@Url.Action("Index", "SanPhamDangKinhDoanh")"><i class="fa fa-edit"></i> Đang kinh doanh</a></li>
                                            <li class=""><a href="@Url.Action("Index", "SanPhamNgungKinhDoanh")"><i class="fa fa-id-card-o"></i> Ngừng kinh doanh</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="@Url.Action("Index", "ErrorPage")"><i class="fa fa-cogs"></i> Cài đặt</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "WorkFlow")">
                            <i class="fa fa-question-circle"></i> <span>Help</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2017 <a href="http://www.thaisonbac.com.vn/">Bản quyền thuộc Thái Sơn Bắc</a>.</strong>
            <a href="#0" class="cd-top">Top</a>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/dist/js/jquery-1.12.4.js"></script>
    <script src="/Assets/dist/js/jquery-ui.js"></script>
    <script src="/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    @RenderSection("LapPhieu", false/*required*/)
    @RenderSection("PO", false)
    @RenderSection("PI", false)
    @RenderSection("Stock", false)
    @RenderSection("ChiTietPhieu", false);
    @RenderSection("List", false);
    @RenderSection("Index", false);
    <!-- Bootstrap 3.3.7 -->
    <script src="/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/dist/js/adminlte.min.js"></script>
    <!-- back-to-top -->
    <script src="/Assets/dist/js/back-to-top.js"></script>
    <!--pagejs-->
    <script src="/Assets/dist/js/pages/index.js"></script>
    @RenderSection("Index", false)
    @*@{ Html.RenderAction("NoteEdit", "Home"); }*@
    <!-- add script -->
    <script src="~/Assets/dist/js/pages/addNote.js"></script>
</body>
</html>


