
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanTri/Views/Shared/_Layout.cshtml";
}
@model ThaiSonBacDMS.Areas.QuanTri.Models.HomeModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="row" style="margin-left:0px; margin-right:0px; margin-top: 10px;">
                    <div class="col-md-12">
                        <h4>
                            <b>Trang chủ</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-top: 50px">
                            <a href="#" class="col-md-3 construct">
                                <!-- small box -->
                                <div class="small-box" style="background-color: #ffff1a;  color: white">
                                    <div class="inner">
                                        <h3>@Model.roleCount</h3>

                                        <p>Phân hệ</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-folder-open-o"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </div>
                            </a>
                            <!-- ./col -->
                            <div class="col-md-3" style="margin-left: 12.5%">
                                <!-- small box -->
                                <a href="#" class="small-box bg-yellow construct">
                                    <div class="inner">
                                        <h3>@Model.categoryCount</h3>

                                        <p>Người dùng</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </a>
                            </div>
                            <!-- ./col -->
                            <div class="col-md-3" style="margin-left: 12.5%">
                                <!-- small box -->
                                <a href="#" class="small-box bg-green construct">
                                    <div class="inner">
                                        <h3>@Model.pageCount</h3>

                                        <p>Trang</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-file-o"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </a>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                        <div class="row" style="margin-top: 60px; margin-bottom: 30px;">
                            <a href="#" class="col-md-3 construct">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>@Model.categoryCount</h3>

                                        <p>Danh mục</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-calendar-check-o"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </div>
                            </a>
                            <!-- ./col -->
                            <a href="#" class="col-md-3 construct" style="margin-left: 12.5%">
                                <!-- small box -->
                                <div class="small-box" style="background-color: #ff6666; color: white">
                                    <div class="inner">
                                        <h3>@Model.productCount</h3>

                                        <p>Sản phẩm</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </div>
                            </a>
                            <!-- ./col -->
                            <div class="col-md-3" style="margin-left: 12.5%">
                                <!-- small box -->
                                <a href="#" class="small-box construct" style="background-color: #ff33ff; color: white">
                                    <div class="inner">
                                        <h3>@Model.fileCount</h3>

                                        <p>File tải lên</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-floppy-o"></i>
                                    </div>
                                    <span class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></span>
                                </a>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box-header -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section Index {
    <!-- sweet Alert-->
    <script src="~/Assets/dist/js/sweetalert2.all.js"></script>
    <script>
        $('.construct').click(function () {
            swal({
                title: '',
                text: 'Chức năng đang được phát triển',
                type: 'warning'
            });
        });
    </script>
    
}


