@model ThaiSonBacDMS.Areas.PhanPhoi.Models.ProductPhanPhoiModel

@{
    ViewBag.Title = "Sản Phẩm Đang Kinh Doanh";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout2.cshtml";
}
<style>
    .chosen-container-multi .chosen-choices {
        height: 33.99px !important;
        width: 370.22px;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-color: #d2d6de !important;
        box-shadow: none !important;
        padding-top: 3px !important;
    }

    .chosen-container-multi .chosen-drop .result-selected {
        display: list-item;
        color: #ccc;
        cursor: default;
        width: 385.22px !important;
    }
</style>

<script>





</script>
<!-- Main content -->
@using (Html.BeginForm("Index", "SanPhamDangKinhDoanh", FormMethod.Post))
{
                <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="phanphoi_index.html"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
            <li>Quản trị</li>
            <li>Hàng hóa</li>
            <li class="active">Sản phẩm</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="row" style="margin-left:0px; margin-top:10px;">
                        <div class="col-md-12">
                            <h4>
                                <b>DANH SÁCH SẢN PHẨM</b>
                            </h4>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box">
                        <div class="box-header with-border text-center menu-button">
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Tạo Mới" data-placement="bottom" onclick="window.open('phanphoi_hanghoa_tao-san-pham.html', '_blank');">
                                <i class="fa fa-plus-square text-green"></i>
                                <span><strong>Tạo Mới</strong></span>
                            </a>

                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-edit text-gray"></i>
                                <span><strong>Sửa</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-save text-gray"></i>
                                <span><strong>Lưu</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-close text-gray"></i>
                                <span><strong>Hủy</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-check-circle text-gray"></i>
                                <span><strong>Chốt đơn</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-exchange text-gray"></i>
                                <span><strong>Đổi trả</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-eye text-gray"></i>
                                <span><strong>Xem Trước</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="In" data-placement="bottom">
                                <i class="fa fa-print text-blue"></i>
                                <span><strong>In</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled">
                                <i class="fa fa-download text-gray"></i>
                                <span><strong>Import Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="In" data-placement="bottom">
                                <i class="fa fa-file-excel-o text-green"></i>
                                <span><strong>Xuất Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="In" data-placement="bottom">
                                <i class="fa fa-file-pdf-o text-orange"></i>
                                <span><strong>Xuất PDF</strong></span>
                            </a>
                        </div>
                    </div>
                    <div class="box-body" style="margin-top: 25px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Tìm kiếm theo</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-left: 0px;">Mã hàng</td>
                                                    <td width="35%">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-file"></i></span>
                                                            @Html.TextBoxFor(model => model.pCodeSearch, new { @class = "form-control", @id = "pCodeSearch" })
                                                        </div>
                                                    </td>
                                                    <td>Nhà cung cấp</td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                                                            @Html.DropDownListFor(model => model.supplierSearch, @Model.lstSupplier, "", new { @class = "form-control select2" })
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-left: 0px;">Ngày nhập</td>
                                                    <td>
                                                        <div class="col-sm-5 no-padding">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">Từ</span>
                                                                <input type="text" class="form-control datepicker">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">Đến</span>
                                                                <input type="text" class="form-control datepicker">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Danh mục</td>
                                                    <td width="35%">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tree"></i></span>
                                                            @Html.DropDownListFor(model => model.categorySearch, @Model.lstCateSearch, "", new { @class = "form-control" })
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="pagination pagination-sm no-margin pull-right">
                                            <button type="submit" id="btnSumit" class="btn btn-block btn-primary">Tìm kiếm <i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row search form -->
                    </div>

                    <div class="box-body">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr style="background-color: #3c8dbc;color: white;">
                                            <th style="width: 3%;">STT</th>
                                            <th style="width: 12%;">Sản phẩm</th>
                                            <th style="width: 5%;">Danh mục</th>
                                            <th style="width: 5%;">Số lượng cái/thùng</th>
                                            <th style="width: 15%;">Nhà cung cấp</th>
                                            <th style="width: 5%;">Thay đổi</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var itemCate in Model.map)
                                        {
                                            if (Model.lstProduct.Count == 0)
                                            {
                                                <tr>
                                                    <td style="font-size:15px" colspan="9">Không tìm thấy sản phẩm!</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="background-color:yellow">
                                                    <td style="border-right:none !important"></td>
                                                    <td style="border-right:none !important;border-left:none !important; text-align:center">@itemCate.Key</td>
                                                    <td style="border-right:none !important;border-left:none !important"></td>
                                                    <td style="border-right:none !important;border-left:none !important"></td>
                                                    <td style="border-right:none !important;border-left:none !important"></td>
                                                    <td style="border-right:none !important;border-left:none !important"></td>
                                                </tr>

                                                foreach (var items in itemCate.Value.ToList())
                                                {
                                                    <tr>
                                                        <td style="vertical-align: middle; text-align: center;">@i</td>
                                                        <td style="vertical-align: middle;">@Html.ActionLink(@items.Product_name, "Index", "ChiTietSanPham", new { product_Id = @items.Product_ID }, null)<span style="float: right; margin-right: 5px;">@Html.ActionLink(@items.Product_parameters, "ChiTietSanPham", "ChiTietSanPham", new { product_Id = @items.Product_ID }, null)</span></td>
                                                        <td style="vertical-align: middle;">@itemCate.Key</td>
                                                        <td style="vertical-align: middle; text-align: center;">@items.Quantities_in_inventory</td>
                                                        <td style="vertical-align: middle;">@items.supplierName</td>
                                                        <td style="vertical-align: middle; text-align: right;">13.02</td>

                                                    </tr>
                                                    i++;
                                                }
                                            }

                                        }


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->

    </section>
    <!-- /.content -->
                                            }
@section SanPhamDangKinhDoanh{
    <script>

        $("#pCodeSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetSearchValue","SanPhamDangKinhDoanh")',
                    minLength: 2,
                    dataType: "json",
                    data: { searchValue: $("#pCodeSearch").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.pCodeSearch, value: item.pCodeSearch }
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });

    </script>
}
