
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HangHoa/Views/Shared/_Layout.cshtml";
    var i = 1;
}
@model ThaiSonBacDMS.Areas.HangHoa.Models.OrderListModel
@section IndexStyle
{
    <!-- DataTables -->
    <link rel="stylesheet" href="/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Datepicker -->
    <link href="~/Assets/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        .custom-btn {
            padding: 10px 5px;
            min-width: 60px;
            height: 40px;
        }

        th {
            color: white;
            background-color: #3c8dbc;
            font-weight: bold;
        }

        #example1 {
            background-color: rgb(240, 240, 240);
        }

            #example1 thead tr th {
                vertical-align: middle !important;
                text-align: center;
                background-color: #3c8dbc;
                color: #fff;
            }

            #example1 tbody td:nth-child(4),
            #example1 tbody td:nth-child(5),
            #example1 tbody td:nth-child(6),
            #example1 tbody td:nth-child(7) {
                text-align: center;
            }

            #example1 tbody td:nth-child() {
                text-align: right;
            }

        .custom-btn {
            margin-left: 10px;
        }

        .custom-chk {
            padding-left: 15px;
        }

        .smallBtn {
            padding: 10px 5px;
            min-width: 60px;
            height: 40px;
        }
    </style>

}

<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Trang Chủ
            </a>
        </li>
        <li>
            <a href="#">
                <i class=""></i> Phiếu chờ xử lí
            </a>
        </li>
        <li>
            <a href="#">
                <i class=""></i> Chờ hàng
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <b>DANH SÁCH HÀNG CHỜ</b>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Tìm kiếm theo</h3>
                                </div>
                                <!-- /.box-header -->
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                {
                                    <div class="box-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 9%">Lô số</td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => Model.orderID, new { @type = "text", @class = "form-control", @placeholder = "Lô số..." })
                                                        </div>
                                                    </td>
                                                    <td style="width: 13%">Tên khách hàng</td>
                                                    <td style="width:490px">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => Model.customerName, new { @type = "text", @class = "form-control", @placeholder = "Tên...", @style = "width:350px" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr colspan="2">
                                                    <td>Số hóa đơn</td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => Model.invoice_number, new { @type = "text", @class = "form-control", @placeholder = "Số hoá đơn..." })
                                                        </div>
                                                    </td>
                                                    <td>Ngày xuất</td>
                                                    <td>

                                                        <div class="input-group date col-sm-5 no-padding" style="float:left">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.TextBoxFor(model => Model.fromDate, new { @type = "text", @class = "form-control datepicker", @placeholder = "Từ ngày...", @style = "width:150px" })
                                                        </div>
                                                        <div class="input-group date col-sm-6 col-sm-offset-1 no-padding" style="margin-left: 197px;">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            @Html.TextBoxFor(model => Model.toDate, new { @type = "text", @class = "form-control datepicker", @placeholder = "Đến ngày...", @style = "width:150px" })
                                                        </div>
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <td>Trạng thái</td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            @Html.DropDownListFor(model => model.statusName,
                                                                new SelectList(
                                                                  new List<Object>{
                                                                       new { value = "Đã xuất phiếu" , text = "Đã xuất phiếu"  },
                                                                       new { value = "Kế toán đã xử lý" , text = "Kế toán đã xử lý" },

                                                                    },
                                                                  "value",
                                                                   "text"
                                                                 ),
                                                                "Chọn trạng thái", new { @class = "form-control", @style = "font-family: 'FontAwesome';width:350px" })
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer clearfix">
                                        <div class="pagination pagination-sm no-margin pull-right">
                                            <button type="submit" class="btn btn-block btn-primary">Tìm kiếm<i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <p />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Lô số</th>
                                        <th>Người tạo phiếu</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số hóa đơn</th>
                                        <th>Lấy phiếu</th>
                                        <th>Lấy hóa đơn</th>
                                        <th>Trạng Thái</th>
                                        <th>Ngày giao</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listOrderPending)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td><a href="/HangHoa/ChiTietPhieu/Index?orderId=@item.orderID">@item.orderID</a></td>
                                            <td>@item.salesUserName</td>
                                            <td>@item.customerName</td>
                                            <td>@item.invoiceNumber</td>
                                            <td>
                                                <input type="checkbox" checked="@item.takeBallot" disabled>
                                            </td>
                                            <td>
                                                <input type="checkbox" checked="@item.takeBallot" disabled>
                                            </td>
                                            <td>
                                                <span class="label label-primary">@item.statusName</span>
                                            </td>
                                            <td>@item.dateExport.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End content -->
@section Index {
    <!-- DataTables -->
    <script src="/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Datepicker -->
    <script src="/Assets/dist/js/bootstrap-datepicker.js"></script>
    <!-- Page script-->
    <script>
        $(document).ready(function () {

            var table = $('#example1').dataTable({
                "searching": false,
                "info": false,
                "lengthChange": false,
                "language": {
                    "zeroRecords": "Không tìm được giá trị phù hợp",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Sau"
                    }
                }
            });
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
}