@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout1.cshtml";
}
@model ThaiSonBacDMS.Areas.PhanPhoi.Models.HomeModel
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <h3><b>THÁNG @DateTime.Now.ToString("MM/yyyy")</b></h3>
    <div class="row dm">
        <div class="col-md-3 col-sm-6 col-xs-12 construct">
            <a href="#">
                <div class="info-box">

                    <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-tags"></i></span>


                    <div class="info-box-content">
                        <span class="info-box-text">ĐƠN HÀNG <br />TRONG THÁNG</span>
                        <span class="info-box-number">@Model.orderInMonth </span>
                    </div>

                    <!-- /.info-box-content -->
                </div>
            </a>

            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <a href="#">
            <div class="col-md-3 col-sm-6 col-xs-12 construct">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-signal"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">DOANH THU</span>
                        <span class="info-box-number"><span class="number">@Model.valueInMonth</span> VND</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </a>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <a href="#">
            <div class="col-md-3 col-sm-6 col-xs-12 construct">
                <div class="info-box">

                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">TỔNG SẢN PHẨM <br />BÁN RA</span>
                        <span class="info-box-number number">@Model.prodInMonth </span>
                    </div>
                    <!-- /.info-box-content -->

                </div>

                <!-- /.info-box -->
            </div>
        </a>
        <!-- /.col -->
        <a href="#">
            <div class="col-md-3 col-sm-6 col-xs-12 construct">
                <div class="info-box">

                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">KHÁCH MỚI</span>
                        <span class="info-box-number">@Model.numberCustomer </span>
                    </div>
                    <!-- /.info-box-content -->

                </div>
                <!-- /.info-box -->
            </div>
        </a>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ĐƠN HÀNG GẦN ĐÂY</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead style="background-color: #3c8dbc;color: #fff;">
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2" width="10%">Lô số</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2" width="20%">Khách hàng</th>
                                    <th class="text-center" colspan="2" width="15%">Số lượng</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2" width="15%">Tổng tiền</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2" width="15%"> Trạng Thái</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Cái</th>
                                    <th class="text-center">Thùng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.newestOrderList)
                                {
                                    <tr>
                                        <td><a href="#">@item.orderID</a></td>
                                        <td>@item.customerName</td>
                                        <td class="text-right">@item.numberBox</td>
                                        <td class="text-right">@item.numberProduct</td>
                                        <td class="text-right number">@item.totalPrice</td>
                                        @if (item.status == "Bản nháp")
                                        {
                                            <td class="text-center"><span class="label label-info">@item.status</span></td>
                                        }
                                        else if (item.status == "Chưa xuất phiếu")
                                        {
                                            <td class="text-center"><span class="label label-warning">@item.status</span></td>
                                        }
                                        else if (item.status == "Đã xuất phiếu" || item.status == "Kế toán đã xử lý" || item.status == "Đã xuất kho" || item.status == "Đang giao hàng")
                                        {
                                            <td class="text-center"><span class="label label-primary">@item.status</span></td>
                                        }
                                        else if (item.status == "Hoàn thành")
                                        {
                                            <td class="text-center"><span class="label label-success">@item.status</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><span class="label label-danger">@item.status</span></td>
                                        }                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">SO SÁNH HAI THÁNG</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6">
                            <h4><strong>DOANH SỐ BÁN HÀNG</strong></h4>
                            <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <canvas id="lineChart" style="height: 300px;"></canvas>
                                <small>Đơn vị :<em> chục triệu VNĐ</em></small>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <h4><strong>SỐ ĐƠN HÀNG</strong></h4>
                            <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <canvas id="lineChart2" style="height: 300px;"></canvas>
                                <small>Đơn vị :<em> Số Đơn Hàng</em></small>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="col-sm-offset-5">
                        <div style="width: 13px; height: 13px; background-color: rgba(221, 41, 13, 1); display: inline-block;"></div>
                        <strong>Tháng @(DateTime.Now.Month - 1)</strong>
                        <div class="col-sm-offset-1" style="width: 13px; height: 13px; background-color: rgba(15,224,15,1); display: inline-block;"></div>
                        <strong>Tháng @(DateTime.Now.Month)</strong>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="description-block border-right">
                                @if (Model.valueFlag)
                                {
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> <span class="number">@Model.diffrentValueMonth</span>%</span>
                                }
                                else
                                {
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> <span class="number">@Model.diffrentValueMonth</span>%</span>
                                }
                                <h5 class="description-header number">@Model.valueInMonth</h5>
                                <span class="description-text">DOANH THU SỐ BÁN HÀNG</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 col-xs-6">
                            <div class="description-block border-right">
                                @if (Model.orderFlag)
                                {
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> <span class="number">@Model.diffrentOrderMonth</span>%</span>
                                }
                                else
                                {
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> <span class="number">@Model.diffrentOrderMonth</span>%</span>
                                }
                                <h5 class="description-header">@Model.orderInMonth</h5>
                                <span class="description-text">SỐ ĐƠN HÀNG</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">TOP SẢN PHẨM BÁN CHẠY NHẤT</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="chart" style="height:500px">
                                <canvas id="barChart" style="height:95%"></canvas>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="chart" style="height:500px">
                                <canvas id="barChart2" style="height:95%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
            @foreach (var item in Model.listTopSellingCate)
            {
                if (item.categoryFlag)
                {
                    <!-- Info Boxes Style 2 -->
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="glyphicon glyphicon-arrow-up"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@item.categoryName</span>
                            <span class="info-box-number">@item.numberCategory</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                                Tăng <span class="number">@item.diffrentPercent</span>%
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                }
                else
                {
                    <!-- /.info-box -->
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="glyphicon glyphicon-arrow-down"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@item.categoryName</span>
                            <span class="info-box-number number">@item.numberCategory</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                                Giảm <span class="number">@item.diffrentPercent</span>%
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>

                }
            }

            <div>
                <a href="phanphoi_toBeContinue.html" class="btn btn-block btn-default">
                    Xem thêm
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@section Index {
    <!-- ChartJS -->
    <script src="/Assets/dist/js/Chart.bundle.js"></script>
    <!-- Auto Numberic-->
    <script src="/Assets/dist/js/autoNumeric.js"></script>
    <script src="/Assets/dist/js/autoNumeric.min.js"></script>
    <!-- sweet Alert-->
    <script src="~/Assets/dist/js/sweetalert2.all.js"></script>
    <script>
        new Chart(document.getElementById("barChart"), {
            type: 'bar',
            data: {
                labels: [@Html.Raw(String.Join(",", Model.topSellingPreviousMonth.Select(x => "\"" + x.Key + "\"")))],
                datasets: [
                    {
                        label: "Số lượng: ",
                        backgroundColor: ["#3e95cd", "#c45850", "#3cba9f", "rgba(192,28,229,1)", "#e8c3b9", "#8e5ea2", "rgba(113,150,64,1)", "rgba(0,0,0,1)", "rgba(117,140,135,1", "rgba(255,199,0,1)"],
                        data: [@Html.Raw(String.Join(",", Model.topSellingPreviousMonth.Select(x => "\"" + x.Value + "\"")))]
                    }
                ]
            },
            options: {
                legend: { display: false },
                scaleShowLabels: false,
                title: {
                    display: true,
                    text: 'Tháng @(DateTime.Now.Month-1)'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                    ,xAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("barChart2"), {
            type: 'bar',
            data: {
                labels: [@Html.Raw(String.Join(",", Model.topSellingCurrentMonth.Select(x => "\"" + x.Key + "\"" )))],
                datasets: [
                    {
                        label: "Số lượng: ",
                        backgroundColor: ["#3e95cd", "#c45850", "#3cba9f", "rgba(192,28,229,1)", "#e8c3b9", "#8e5ea2", "rgba(113,150,64,1)", "rgba(0,0,0,1)", "rgba(117,140,135,1", "rgba(255,199,0,1)"],
                        data: [@Html.Raw(String.Join(",", Model.topSellingCurrentMonth.Select(y => y.Value)))]
                    }
                ]
            },
            options: {
                legend: { display: false },
                scaleShowLabels : false,
                title: {
                    display: true,
                    text: 'Tháng @DateTime.Now.Month'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            
                        }
                    }]
                    , xAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById("lineChart"), {
            type: 'line',
            data: {
                datasets: [{
                    data: [@Html.Raw(String.Join(",", Model.dataLineChartCurrentMonth.Select(x => "{ x:" + x.Key + ", y: " + x.Value +"}")))],
                    label: "Tháng @DateTime.Now.Month",
                    borderColor: "#33FF33",
                    backgroundColor: "#33FF33",
                    fill: false
                }, {
                    data: [@Html.Raw(String.Join(",", Model.dataLineChartPreviousMonth.Select(x => "{ x:" + x.Key + ", y: " + x.Value + "}")))],
                    label: "Tháng @(DateTime.Now.Month-1)",
                    borderColor: "#EE0000",
                    backgroundColor: "#EE0000",
                    fill: false
                }
                ]
            },
            options: {
                legend: { display: false },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                elements: {
                    line: {
                        tension: 0, // disables bezier curves
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            
                        }
                    }],
                    xAxes: [{
                        type: "linear",
                        ticks: {
                            min: 1,
                            stepSize: 5,
                            max: 31
                        }
                    }, ],
                }
            }
        });

        new Chart(document.getElementById("lineChart2"), {
            type: 'line',
            data: {
                datasets: [{
                    data: [@Html.Raw(String.Join(",", Model.dataLineChartOrderCurrentMonth.Select(x => "{ x:" + x.Key + ", y: " + x.Value  + "}")))],
                    label: "Tháng @DateTime.Now.Month",
                    borderColor: "#33FF33",
                    backgroundColor: "#33FF33",
                    fill: false
                }, {
                    data: [@Html.Raw(String.Join(",", Model.dataLineChartOrderPreviousMonth.Select(x => "{ x:" + x.Key + ", y: " + x.Value + "}")))],
                    label: "Tháng @(DateTime.Now.Month-1)",
                    borderColor: "#EE0000",
                    backgroundColor: "#EE0000",
                    fill: false
                }
                ]
            },
            options: {
                legend: { display: false },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                elements: {
                    line: {
                        tension: 0, // disables bezier curves
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            stepSize: 1,
                            max: 10
                        }
                    }],
                    xAxes: [{
                        type: "linear",
                        ticks: {
                            min: 1,
                            stepSize: 5,
                            max: 31
                        }
                    }, ],
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.number').autoNumeric('init', { vMin: '1', vMax: '9999999999999', digitGroupSeparator: ',', mDec: '0' })
        });
        $('.construct').click(function () {
            swal({
                title: '',
                text: 'Chức năng đang được phát triển',
                type: 'warning'
            });
        });
    </script>
}

