@model ThaiSonBacDMS.Areas.PhanPhoi.Models.ChiTietNoKhachHangModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout1.cshtml";
}

<style>
    #example1 {
        background-color: rgb(240, 240, 240);
    }

        #example1 thead tr th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #3c8dbc;
            color: #fff;
        }

    tfoot {
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        background-color: #544d61;
    }

    .highlight {
        font-weight: bold;
        text-align: right;
    }

    .right {
        text-align: right;
    }

    #btnThanhToan:hover {
        color: black !important;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: aliceblue;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        background-color: white;
    }

    .modal-footer {
        border-top-color: #f4f4f4;
        background-color: white;
    }

    .menu-button {
        background-color: #fcf9f9;
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 25px;
    }
</style>
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="phanphoi_index.html">
                <i class="fa fa-dashboard"></i> Trang Chủ
            </a>
        </li>
        <li><a>Công nợ</a></li>
        <li><a href="phanphoi_congno_danh-sach-cong-no-khach-hang.html">Công nợ khách hàng</a></li>
        <li><a href="phanphoi_congno_chi-tiet-no-khach-hang.html">Chi tiết</a></li>
    </ol>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border" style="margin-bottom: -15px">
                        <h4><b>Tên Khách Hàng : @Model.customerName.ToUpper()</b></h4>
                        <span id="customerId">@Model.customerId</span>
                    </div>

                    <div class="box">
                        <div class="box-header with-border text-center menu-button">

                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Tạo mới" data-placement="bottom">
                                <i class="fa fa-plus-square text-grey"></i>
                                <span><strong>Tạo mới</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Sửa" data-placement="bottom">
                                <i class="fa fa-edit text-grey"></i>
                                <span><strong>Sửa</strong></span>
                            </a>


                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Lưu" data-placement="bottom">
                                <i class="fa fa-save text-grey"></i>
                                <span><strong>Lưu</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Hủy" data-placement="bottom">
                                <i class="fa fa-close text-grey"></i>
                                <span><strong>Hủy</strong></span>
                            </a>
                            <a href="" class="btn btn-app custom-btn" data-toggle="modal" title="Thanh Toán" data-placement="bottom" data-target="#confirm-process">
                                <i class="fa fa-check-circle text-green"></i>
                                <span><strong>Thanh Toán</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Xử Lý" data-placement="bottom">
                                <i class="fa fa-exchange text-grey"></i>
                                <span><strong>Đổi trả</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Xem trước" data-placement="bottom">
                                <i class="fa fa-eye text-grey"></i>
                                <span><strong>Xem trước</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Xem trước" data-placement="bottom">
                                <i class="fa fa-print text-grey"></i>
                                <span><strong>In</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Import Excel" data-placement="bottom">
                                <i class="fa fa-download text-grey"></i>
                                <span><strong>Import Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Tải xuống dưới dạng Excel" data-placement="bottom">
                                <i class="fa fa-file-excel-o text-grey"></i>
                                <span><strong>Xuất Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Tải xuống dưới dạng PDF" data-placement="bottom">
                                <i class="fa fa-file-pdf-o text-grey"></i>
                                <span><strong>Xuất PDF</strong></span>
                            </a>

                        </div>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-offset-2" style="display: inline-flex; margin-bottom: 20px;">
                                <label style="padding-left:15px;padding-right: 10px; padding-top: 10px;">Từ: </label>
                                <div class="input-group week-select col-md-4">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.TextBoxFor(model => model.dateFrom, new { @class = "form-control datepicker", @id = "fromDate", })
                                </div>
                                <label style="padding-left:15px;padding-right: 10px; padding-top: 10px;">Đến: </label>
                                <div class="input-group week-select col-md-4">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.TextBoxFor(model => model.dateTo, new { @class = "form-control datepicker", @id = "toDate", })
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:2%">NGÀY</th>
                                                <th style="width:5%">LÔ SỐ</th>
                                                <th style="width:5%">SÔ HĐ</th>
                                                @*<th style="width:5%">SỐ LƯỢNG</th>*@
                                                <th style="width:3%">DIỄN GIẢI</th>
                                                <th style="width:5%">TIỀN HÀNG</th>
                                                <th style="width:5%">VAT</th>
                                                <th style="width:5%">TỔNG CỘNG</th>
                                                <th style="width:5%">THANH TOÁN</th>
                                                <th style="width:5%">DƯ NỢ</th>
                                                <th style="width:5%">GHI CHÚ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            @if (Model.lstDisplay.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="11" style="font-size:17px">Không tìm thấy bản ghi nào!</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstDisplay)
                                                {
                                                    <tr>
                                                        <td class="length">@item.ngay</td>
                                                        <td class="text-center">@item.loSo</td>
                                                        <td class="text-center">@item.soHopDong</td>
                                                        @*<td class="text-center" id="soLuong_@i">@item.soLuong</td>*@
                                                        <td>@item.dienGiai</td>
                                                        <td class="text-right number" id="tienHang_@i">@item.tienHang</td>
                                                        <td class="text-center" id="vat_@i">@item.VAT</td>
                                                        <td class="text-right number" id="tongCong_@i">@item.tongCong</td>
                                                        <td class="text-right number" id="thanhToan_@i">@item.thanhToan</td>
                                                        <td class="text-right number" id="duNo_@i">@item.duNo</td>
                                                        <td>@item.ghiChu</td>
                                                    </tr>
                                                    i++;
                                                }

                                            }
                                        </tbody>
                                        @if (Model.lstDisplay.Count() != 0)
                                        {
                                            <tfoot id="tableFoot">
                                                <tr>
                                                    <td colspan="3">TỔNG</td>
                                                    @*<td class="number text-center" id="soLuong"></td>*@
                                                    <td></td>
                                                    <td class="number text-right" id="tienHang"></td>
                                                    <td class="number text-center" id="vat"></td>
                                                    <td class="number text-right" id="tongCong"></td>
                                                    <td class="number text-right" id="thanhToan"></td>
                                                    <td class="number text-right" id="duNo"></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirm-process" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!-- Modal content-->
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Thanh Toán</b></h4>
                </div>
                <div class="modal-body">
                    <span id="msgs" style="font-size:17px;color:red;margin:0 auto"></span>
                    <table style="margin-left:20%;height:250px">

                        <tr style="margin-bottom : 15px;">
                            <td><i class="fa fa-pencil"><b>  Diễn giải: </b></i></td>
                            <td style="width: 250px; padding-left:15px">
                                <textarea style="width: 100%" rows="1" id="dienGiai" class="form-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b>  Nợ cũ: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input id="noCu1" readonly class="form-control number" value="@Model.lastedDebt" contenteditable="false" /></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b>  Tiền hàng: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input type="text" onchange="calculate(); return false;" class="form-control number" id="tienHang1" /></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b>  VAT: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input id="vat1"  onchange="calculate(); return false;" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b>  Tổng cộng: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input id="tongCong1" readonly class="form-control number" /></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b>  Thanh toán: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input type="text" id="thanhToan1" onchange="calculate(); return false;" class="form-control number" /></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"><b> Du nợ: </b></i></td>
                            <td style="padding-left:15px;width:250px"><input readonly type="text" id="duNo1" class="form-control number" /></td>
                        </tr>
                        @*<tr>
                                <td><i class="fa fa-yelp"><b>  CKTT: </b></td>
                                <td style="padding-left:15px"><input type="checkbox" onchange="calculate(); return false;" value="true" id="ckttCheckbox" /></td>
                            </tr>*@
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" style="color:white;background-color:green" class="btn btn-default" onclick="validateData(); return false;">Thanh toán</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popupConfirm" role="dialog">
            <div class="modal-dialog" style="width:200px;height:150px">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Xác nhận thanh toán</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Bạn có muốn thanh toán?</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="margin-right:15px">
                        <button id="btnInsert" type="button" style="color:white;background-color:green" class="btn btn-default">Xác nhận</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


            </div>
        </div>
    </section>
    <!-- ./content -->
    @section Index{
        <script src="/Assets/dist/js/sweetalert2.all.js"></script>
        <script src="~/Assets/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/Assets/dist/js/autoNumeric.js"></script>
        <script src="~/Assets/dist/js/autoNumeric.min.js"></script>
        <script>
            $(document).ready(function () {
                tinhTong();

                $("#customerId").hide();

                $('.datepicker').datepicker({
                    format: 'mm/dd/yyyy'
                });

                init();
            });
            function init() {
                $("#duNo1").autoNumeric('init', { minimumValue: '1', maximumValue: '9999999999999', digitGroupSeparator: ',', mDec: '0' });
                $(".number").autoNumeric('init', { minimumValue: '1', maximumValue: '9999999999999', digitGroupSeparator: ',', mDec: '0' });
                $("#vat1").autoNumeric('init', { minimumValue: '1', maximumValue: '100', digitGroupSeparator: ',', mDec: '0' });
            }
            function tinhTong() {
                var length = $(".length").length;
                //var soLuong = 0;
                var tienHang = 0;
                var tongCong = 0;
                var vat = 0;
                var thanhToan = 0;
                var duNo = 0;

                for (var i = 1; i <= length; i++) {
                    //soLuong += parseInt($("#soLuong_" + i).text().replace(/,/g, ''));
                    tienHang += parseFloat($("#tienHang_" + i).text().replace(/,/g, ''));
                    tongCong += parseFloat($("#tongCong_" + i).text().replace(/,/g, ''));
                    vat += parseInt($("#vat_" + i).text().replace(/,/g, ''));
                    thanhToan += parseFloat($("#thanhToan_" + i).text().replace(/,/g, ''));
                    duNo += parseFloat($("#duNo_" + i).text().replace(/,/g, ''));
                }
                //$("#soLuong").text(soLuong);
                $("#tienHang").text(tienHang);
                $("#tongCong").text(tongCong);
                $("#vat").text(vat);
                $("#thanhToan").text(thanhToan);
                $("#duNo").text(duNo);
            }
            function validateData() {
                var msgs = "";
                var tienHang = $("#tienHang1").val();
                var thanhToan = $("#thanhToan1").val();
                var vat = $("#vat1").val();
                //var isChecked = $('#ckttCheckbox').prop("checked");
                if (!tienHang) {
                    msgs += "Vui lòng nhập tiền hàng!<br/>";
                    $("#tienHang").focus();
                }
                if (!thanhToan) {
                    msgs += "Vui lòng nhập thanh toán!<br/>";
                    $("#thanhToan").focus();
                }
                //if (isChecked) {
                //    if (!vat) {
                //        msgs += "Vui lòng nhập VAT!";
                //        $("#vat").focus();
                //    }
                //}
                if (msgs != "") {
                    $("#msgs").html(msgs);
                }
                else {
                    $("#popupConfirm").modal('show');
                }
            }
            function calculate() {
                var tienHang = $("#tienHang1").val().replace(/,/g, '');
                var thanhToan = $("#thanhToan1").val().replace(/,/g, '');
                var noCu = $("#noCu1").val().replace(/,/g, '');
                var tongCong = 0;
                //var isChecked = $('#ckttCheckbox').prop("checked");
                var vat = $("#vat1").val();
                var duNo = 0;

                if (!tienHang) {
                    tienHang = 0;
                }
                if (!thanhToan) {
                    thanhToan = 0;
                }

                if (vat != '') {
                    if (vat > 100) {
                        vat = 100;
                    }
                    tongCong = parseFloat(tienHang) + (parseFloat(tienHang) * parseInt(vat) / 100);
                    duNo = parseFloat(noCu) + tongCong - parseFloat(thanhToan);
                    duNo = Math.round(duNo).toFixed(0)
                    duNo = duNo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    tongCong = tongCong.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $("#tongCong1").text(tongCong);
                    $("#tongCong1").val(tongCong);
                    $("#duNo1").text(duNo);
                    $("#duNo1").val(duNo);
                } else {
                    tongCong = parseFloat(tienHang);
                    duNo = parseFloat(noCu) + tongCong - parseFloat(thanhToan);
                    duNo = Math.round(duNo).toFixed(0)
                    duNo = duNo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    tongCong = tongCong.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $("#tongCong1").text(tongCong);
                    $("#tongCong1").val(tongCong);
                    $("#duNo1").text(duNo);
                    $("#duNo1").val(duNo);
                }

            }
            $("#fromDate, #toDate").change(function () {
                $.ajax({
                    type: 'POST',
                    url: '/ChiTietNoKhachHang/Index',
                    data: {
                        customerId: $("#customerId").text(),
                        dateFrom: $("#fromDate").val(),
                        dateTo: $("#toDate").val()
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        var i = 1;
                        console.log(data);
                        $("#tableBody").empty();
                        $("#tableFoot").empty();
                        data.lstDisplay.forEach(function (item) {
                            $("#tableBody").append('<tr>'
                                + '<td class="length date">' + item.dateString + '</td>'
                                + '<td class="text-center loSo">' + item.loSo + '</td>'
                                + '<td class="text-center soHopDong">' + item.soHopDong + '</td>'
                                + '<td>' + item.dienGiai + '</td>'
                                + '<td class="text-right number tienHang">' + item.tienHang + '</td>'
                                + '<td class="text-center vat">' + item.VAT + '</td>'
                                + '<td class="text-right number tongCong">' + item.tongCong + '</td>'
                                + '<td class="text-right number thanhToan">' + item.thanhToan + '</td>'
                                + '<td class="text-right number duNo" id="duNo_"' + i + '>' + item.duNo + '</td>'
                                + '<td class=ghiChu>' + item.ghiChu + '</td>'
                                + '</tr>');
                            i++;

                        });
                        $("#tableFoot").append('<tr>'
                                                  + '<td colspan="3">' + 'TỔNG' + '</td>'
                                                  + '<td></td>'
                                                  + '<td class="number text-right" id="tienHang"></td>'
                                                  + '<td class="number text-center" id="vat"></td>'
                                                  + '<td class="number text-right" id="tongCong"></td>'
                                                  + '<td class="number text-right" id="thanhToan"></td>'
                                                  + '<td class="number text-right" id="duNo"></td>'
                                                  + '<td></td>'
                                              + '</tr>');
                       
                        display();
                        tinhTong1();
                        init();
                    }
                });

            });
            function tinhTong1() {
                var tienHang = 0;
                var vat = 0;
                var thanhToan = 0;
                var tongCong = 0;
                var duNo = 0;

                for (var i = 0; i < $('.tienHang').length; i++) {
                    tienHang += parseFloat($($('.tienHang')[i]).text().replace(/,/g, ''));
                }
                for (var i = 0; i < $('.vat').length; i++) {
                    vat += parseFloat($($('.vat')[i]).text().replace(/,/g, ''));
                }
                for (var i = 0; i < $('.thanhToan').length; i++) {
                    thanhToan += parseFloat($($('.thanhToan')[i]).text().replace(/,/g, ''));
                }
                for (var i = 0; i < $('.tongCong').length; i++) {
                    tongCong += parseFloat($($('.tongCong')[i]).text().replace(/,/g, ''));
                }
                for (var i = 0; i < $('.duNo').length; i++) {
                    duNo += parseFloat($($('.duNo')[i]).text().replace(/,/g, ''));
                }
                $("#tienHang").text(tienHang);
                $("#tongCong").text(tongCong);
                $("#vat").text(vat);
                $("#thanhToan").text(thanhToan);
                $("#duNo").text(duNo);
            }
            function display() {
                for (var i = 0; i < $('.loSo').length; i++) {
                    if ($($('.loSo')[i]).text() == 'null') {
                        $($('.loSo')[i]).text('');
                    }
                }
                for (var i = 0; i < $('.soHopDong').length; i++) {
                    if ($($('.soHopDong')[i]).text() == 'null') {
                        $($('.soHopDong')[i]).text('');
                    }
                }
                for (var i = 0; i < $('.dienGiai').length; i++) {
                    if ($($('.dienGiai')[i]).text() == 'null') {
                        $($('.dienGiai')[i]).text('');
                    }
                }
                for (var i = 0; i < $('.ghiChu').length; i++) {
                    if ($($('.ghiChu')[i]).text() == 'null') {
                        $($('.ghiChu')[i]).text('');
                    }
                }
                for (var i = 0; i < $('.date').length; i++) {
                    var st = $($('.date')[i]).text().split(' ');
                    $($('.date')[i]).text(st[0]);
                }
            }
            $("#btnInsert").click(function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/ChiTietNoKhachHang/InsertData',
                    data: {
                        customerId: $("#customerId").text(),
                        tienHang: $("#tienHang1").val().replace(/,/g, ''),
                        vat: $("#vat1").val(),
                        thanhToan: $("#thanhToan1").val().replace(/,/g, ''),
                        duNo: $("#duNo1").val().replace(/,/g, ''),
                        dienGiai: $("#dienGiai").val(),
                        tongCong: $("#tongCong1").val().replace(/,/g, '')
                    },
                    dataType: 'JSON',
                    success: function () {
                        swal({
                            title: '<img src="/Assets/dist/img/messagePic_2.png"/>',
                            type: 'success',
                            timer: 5000,
                            showConfirmButton: true
                        }).then((result) => {
                            if (result.value) {
                                window.location.reload();
                            }
                        });
                    }
                });
            });
        </script>
    }
}