@model ThaiSonBacDMS.Areas.PhanPhoi.Models.OrderTotalModel
@{
    Layout = null;
}

<table class="table table-striped mainTable">
    <thead>
        <tr>
            <th rowspan="2" style="width: 30px;">STT</th>
            <th rowspan="2" colspan="2" style="width: 400px;">Sản phẩm</th>
            <th colspan="2">Số lượng</th>
            <th rowspan="2" style="width: 150px;">Đơn giá (VNĐ)</th>
            <th rowspan="2" style="width: 150px;">Thành tiền trước chiết khấu (VNĐ)</th>
            <th rowspan="2" style="width: 70px;">Chiết khấu (%)</th>
            <th rowspan="2" style="width: 150px;">Thành tiền sau chiết khấu (VNĐ)</th>
        </tr>
        <tr>
            <th style="width: 70px;">Cái</th>
            <th style="width: 70px;">Thùng</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.lstItem.Count(); i++)
        {
            <tr>
                <td style="vertical-align: middle;">@(i + 1)</td>
                <td style="vertical-align: middle; width: 24.7%;"><input type="text" class="form-control" id="name_@(i+1)" value="@Model.lstItem[i].productName" /></td>
                <td style="vertical-align: middle;"><input type="text" class="form-control param" id="param_@(i+1)" value="@Model.lstItem[i].productParam" /></td>
                <td>
                    <input type="text" class="form-control" id="cai_@(i+1)" value="@Model.lstItem[i].quantity" />
                </td>
                <td>
                    <input type="text" class="form-control" id="thung_@(i+1)" value="@Model.lstItem[i].box" />
                </td>
                <td><output id="dongia_@(i+1)">@Model.lstItem[i].price</output></td>
                <td><output id="tienchuack_@(i+1)">@Model.lstItem[i].preMoney</output></td>
                <td>
                    <input type="text" class="form-control" id="ck_@(i+1)" value="@Model.lstItem[i].discount" />
                </td>
                <td><output id="tiendack_@(i+1)">@Model.lstItem[i].afterMoney</output></td>
            </tr>
        }
        <tr>
            <td>
                <a style="padding: 3px;" data-toggle="tooltip" title="Tạo Mới" data-placement="bottom" id="addLstItem" href="javascript:void(0);">
                    <i class="fa fa-plus-square" style="color: #3c8dbc; font-size: 20px"></i>
                </a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background-color: #544d61;color: #fff;">
            <td></td>
            <td colspan="2" style="vertical-align: middle;"><b>Cộng</b></td>
            <td style="text-align: right; vertical-align: middle;"><output id="tong_cai_1" style="color: #fff; font-weight: bold;"></output></td>
            <td style="text-align: right; vertical-align: middle;"><output id="tong_thung_1" style="color: #fff; font-weight: bold;"></output></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right; vertical-align: middle;"><output id="tong_tien_chua_ck_1" class="number" style="color: #fff; font-weight: bold;"></output></td>
        </tr>
        <tr style="background-color: #544d61;color: #fff;">
            <td></td>
            <td colspan="2" style="vertical-align: middle;"><b>Chiết khấu (%)</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" id="tong_ck_1" style="text-align: right; float: right; font-weight: bold;"
                       onkeyup="configCkAll('1');
                                                                                       return false;" />
            </td>
            <td style="text-align: right; vertical-align: middle;"><output id="tien_ck_1" class="number" style="color: #fff; font-weight: bold;"></output></td>
        </tr>
        <tr style="background-color: #544d61;color: #fff;">
            <td></td>
            <td colspan="2" style="vertical-align: middle;"><b>Còn lại</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right; vertical-align: middle;"><output id="con_lai_1" class="number" style="color: #fff; font-weight: bold;"></output></td>
        </tr>
        <tr style="background-color: #544d61;color: #fff;">
            <td></td>
            <td colspan="2" style="vertical-align: middle;"><b>VAT (%)</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="text" class="form-control" id="vat_1" style="text-align: right; float: right; font-weight: bold;"
                       onkeyup="configCkAll('1');
                                                                                       return false;" />
            </td>
            <td style="text-align: right; vertical-align: middle;"><output id="tien_vat_1" class="number" style="color: #fff; font-weight: bold;"></output></td>
        </tr>
        <tr style="background-color: #544d61;color: #fff;">
            <td></td>
            <td colspan="2" style="vertical-align: middle;"><b>Tổng cộng</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right; vertical-align: middle;"><output id="tong_tien_da_ck_1" class="number" style="color: #fff; font-weight: bold;"></output></td>
        </tr>
    </tbody>
</table>
