@model ThaiSonBacDMS.Areas.QuanTri.Models.DanhSachNguoiDungHoatDongModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanTri/Views/Shared/_Layout.cshtml";
}

<style>
    #example1 {
        background-color: rgb(240, 240, 240);
    }

        #example1 thead tr th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #3c8dbc;
            color: #fff;
        }

    .custom-btn {
        padding: 10px 5px;
        min-width: 80px;
        height: 55px;
    }

    .custom-chk {
        padding-left: 15px;
    }

    .menu-button {
        background-color: #fcf9f9;
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 25px;
    }

    .smallBtn {
        padding: 10px 5px;
        min-width: 60px;
        height: 40px;
    }

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 1001 !important;
    }

    .date {
        width: 150px;
    }
</style>

@using (Html.BeginForm("Index", "DanhSachNguoiDungHoatDong", FormMethod.Post))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="row" style="margin-left:0px; margin-right:0px; margin-top: 10px;">
                        <div class="col-md-12">
                            <h4>
                                <b>Danh sách nhân viên</b>
                            </h4>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box">
                        <div class="box-header with-border text-center menu-button">

                            <a class="btn btn-app custom-btn" data-toggle="tooltip" href="quanly_nhanvien_tao-nhan-vien.html" target="_blank" title="Tạo Mới" data-placement="bottom">
                                <i class="fa fa-plus-square text-green"></i>
                                <span><strong>Tạo Mới</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Sửa" data-placement="bottom">
                                <i class="fa fa-edit text-grey"></i>
                                <span><strong>Sửa</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Lưu" data-placement="bottom">
                                <i class="fa fa-save text-grey"></i>
                                <span><strong>Lưu</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Hủy" data-placement="bottom">
                                <i class="fa fa-close text-grey"></i>
                                <span><strong>Hủy</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Chốt đơn" data-placement="bottom">
                                <i class="fa fa-check-circle text-grey"></i>
                                <span><strong>Chốt đơn</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Đổi trả" data-placement="bottom">
                                <i class="fa fa-exchange text-grey"></i>
                                <span><strong>Đổi trả</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disabled" data-toggle="tooltip" title="Xem Trước" data-placement="bottom">
                                <i class="fa fa-eye text-grey"></i>
                                <span><strong>Xem Trước</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="In" data-placement="bottom">
                                <i class="fa fa-print text-blue"></i>
                                <span><strong>In</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn disable" data-toggle="tooltip" title="Import Excel" data-placement="bottom">
                                <i class="fa fa-download text-grey"></i>
                                <span><strong>Import Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Xuất Excel" data-placement="bottom">
                                <i class="fa fa-file-excel-o text-green"></i>
                                <span><strong>Xuất Excel</strong></span>
                            </a>
                            <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Xuất PDF" data-placement="bottom">
                                <i class="fa fa-file-pdf-o text-red"></i>
                                <span><strong>Xuất PDF</strong></span>
                            </a>
                        </div>
                    </div>
                    <p id="msgs" style="margin-left:30%;font-size:17px;color:red"></p>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Tìm kiếm theo</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Tên</td>
                                                    <td width="35%">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input type="text" class="form-control" id="nameSearch" placeholder="Tên...">
                                                        </div>
                                                    </td>
                                                    <td style="padding-left: 100px;">Ngày tạo</td>
                                                    <td>
                                                        <div class="col-sm-5 no-padding">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                @Html.TextBoxFor(model => model.fromDate, new { @class = "form-control date", @id = "fromDate", @placeholder = "Từ.." })
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                @Html.TextBoxFor(model => model.toDate, new { @class = "form-control date", @id = "toDate", @placeholder = "Đến.." })
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Phân hệ</td>
                                                    <td>
                                                        @Html.DropDownListFor(model => model.roleIdSearch, Model.lstRole, "Tất cả các phân hệ", new { @class = "form-control", @id = "roleIdSearch" })
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="pagination pagination-sm no-margin pull-right" style="padding-right: 20px">
                                            <button type="submit" id="searchBtn" class="btn btn-block btn-primary">Tìm kiếm <i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row search form -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend style="font-size: 17px"><b>Danh sách người dùng đang hoạt động</b></legend>
                                    </fieldset>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 3%">STT</th>
                                                <th style="width: 7%">Tên</th>
                                                <th style="width: 7%">Ảnh đại diện</th>
                                                <th style="width: 5%">Ngày tạo</th>
                                                <th style="width: 5%">Phân hệ</th>
                                                <th style="width: 4%">Số điện thoại</th>
                                                <th style="width: 15%">Địa chỉ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            @if (Model.lstDisplay.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="7" style="font-size:17px">Không tìm thấy bản ghi nào!</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                int i = 1;
                                                foreach (var item in Model.lstDisplay)
                                                {
                                                    <tr>
                                                        <td class="text-center length">@i</td>
                                                        <td><a href="quanly_nhanvien_chi-tiet-nhan-vien.html">@item.tenNguoiDung</a></td>
                                                        <td class="text-center">
                                                            <image src="@item.anhDaiDien" alt="User Image" style="height: 60px;height: 60px" />
                                                        </td>
                                                        <td class="text-center">@item.ngayTao.ToString("dd-MM-yyyy")</td>
                                                        <td class="text-center">@item.phanHe</td>
                                                        <td class="text-center">@item.soDienThoai</td>
                                                        <td class="text-left">@item.diaChi</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @section Index{
        <script src="~/Assets/dist/js/sweetalert2.all.js"></script>
        <script src="~/Assets/dist/js/bootstrap-datepicker.js"></script>
        <script>
            $(document).ready(function () {
                init();
            });
            function init() {
                for (var i = 1; i <= $(".length").length; i++) {
                    $("#row_" + i).hide();
                };

                $("#fromDate").datepicker({
                    format: 'dd-mm-yyyy'
                });

                $("#toDate").datepicker({
                    format: 'dd-mm-yyyy'
                });
                $("#nameSearch").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            type: 'POST',
                            url: 'autoCompleteNameSearch',
                            minLength: 2,
                            dataType: "json",
                            data: { searchValue: $("#nameSearch").val() },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.key, value: item.strValue }
                                }))
                            },
                            error: function (xhr, status, error) {
                                alert("Error");
                            }
                        });
                    }
                });
            }

            $("#fromDate, #toDate").change(function () {
                if ($("#fromDate").val() && $("#toDate").val()) {
                    var fromDate = $("#fromDate").val().split("-");
                    var toDate = $("#toDate").val().split("-");
                    var date1 = new Date(fromDate[2], fromDate[1] - 1, fromDate[0]);
                    var date2 = new Date(toDate[2], toDate[1] - 1, toDate[0]);
                    if (date2.getTime() < date1.getTime()) {
                        swal({
                            title: 'Ngày nhập không đúng định dạng!',
                            type: 'error',
                            timer: 5000,
                            showConfirmButton: true
                        });
                        $("#searchBtn").prop('disabled', true);
                    } else {
                        $("#searchBtn").prop('disabled', false);
                    }
                }
                else {
                    $("#searchBtn").prop('disabled', false);
                }
            });
            //$("#searchBtn").click(function () {
            //    //event.preventDefault();
            //    $.ajax({
            //        type: 'POST',
            //        url: 'Search',
            //        data: {
            //            nameSearch: $("#nameSearch").val(),
            //            roleSearch: $("#roleIdSearch").val(),
            //            fromDate: $("#fromDate").val(),
            //            toDate: $("#toDate").val()
            //        },
            //        dataType: 'html',
            //        success: function (data) {
            //            $("#showData").html(data);
            //        }

            //    });
            //});

        </script>
    }
}

