@model ThaiSonBacDMS.Areas.PhanPhoi.Models.OrderTotalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout.cshtml";
}
<style>
    .label-medium {
        vertical-align: super;
        font-size: medium;
    }
    .menu-button {
        background-color: #fcf9f9;
        margin-top: 20px;
        padding-top: 20px;
        padding-right: 25px;
    }

    .custom-btn {
        padding: 10px 5px;
        min-width: 80px;
        height: 55px;
    }

    .mainTable {
        background-color: rgb(240, 240, 240);
    }

    .number {
        text-align: right;
    }

    .mainTable thead tr th {
        vertical-align: middle !important;
        text-align: center;
        background-color: #3c8dbc;
        color: #fff;
    }

    .mainTable tbody tr td:nth-child(1) {
        vertical-align: middle;
        text-align: center;
    }

    .mainTable tbody tr td:nth-child(4), .mainTable tbody tr td:nth-child(5),
    .mainTable tbody tr td:nth-child(6), .mainTable tbody tr td:nth-child(7),
    .mainTable tbody tr td:nth-child(8), .mainTable tbody tr td:nth-child(9) {
        text-align: right;
    }

    .pointerCursor {
        cursor: pointer;
    }

    .textCursor {
        cursor: text;
    }

    .noDisplay {
        display: none !important;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>&nbsp;&nbsp;&nbsp;@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>Đơn hàng</li>
        <li class="active">Phiếu đang soạn</li>
    </ol>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header" style="text-align: center;margin-top: 30px;">
                        <h3 class="box-title with-border"><b style="font-size: 25px;">Đơn hàng lô số @Model.orderId</b></h3>
                        <input type="hidden" value="@Model.orderId" id="orderId" />
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <div class="row">
                            <div class="box-header with-border text-center menu-button" style="margin-left: 5px; margin-right: 5px;">
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Tạo Mới" data-placement="bottom" href="@Url.Action("Index","LapPhieu")" target="_blank">
                                    <i class="fa fa-plus-square text-green"></i>
                                    <span><strong>Tạo Mới</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Sửa" data-placement="bottom" href="@Url.Action("SuaPhieu", "LapPhieu", new { orderId = Model.orderId })">
                                    <i class="fa fa-edit text-blue"></i>
                                    <span><strong>Sửa</strong></span>
                                </a>
                                <button class="btn btn-app custom-btn disabled">
                                    <i class="fa fa-save text-gray"></i>
                                    <span><strong>Lưu</strong></span>
                                </button>
                                <a class="btn btn-app custom-btn" data-toggle="modal" title="Hủy" data-placement="bottom" data-target="#confirmCancel">
                                    <i class="fa fa-close text-red"></i>
                                    <span><strong>Hủy</strong></span>
                                </a>
                                <button class="btn btn-app custom-btn" data-toggle="modal" title="Chốt đơn" data-placement="bottom" data-target="#confirmComplete" onclick="return false;">
                                    <i class="fa fa-check-circle text-green"></i>
                                    <span><strong>Chốt đơn</strong></span>
                                </button>
                                <a class="btn btn-app custom-btn disabled">
                                    <i class="fa fa-exchange text-gray"></i>
                                    <span><strong>Đổi trả</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Xem Trước" data-placement="bottom" onclick="toBeContinued();">
                                    <i class="fa fa-eye text-black"></i>
                                    <span><strong>Xem Trước</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="In" data-placement="bottom" onclick="toBeContinued();">
                                    <i class="fa fa-print text-blue"></i>
                                    <span><strong>In</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn disabled">
                                    <i class="fa fa-download text-gray"></i>
                                    <span><strong>Import Excel</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Xuất Excel" data-placement="bottom" onclick="toBeContinued();">
                                    <i class="fa fa-file-excel-o text-green"></i>
                                    <span><strong>Xuất Excel</strong></span>
                                </a>
                                <a class="btn btn-app custom-btn" data-toggle="tooltip" title="Xuất PDF" data-placement="bottom" onclick="toBeContinued();">
                                    <i class="fa fa-file-pdf-o text-orange"></i>
                                    <span><strong>Xuất PDF</strong></span>
                                </a>
                            </div>
                        </div>
                        <form style="margin-top: 25px;">
                            <div class="box-header">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset>
                                            <legend><b style="font-size: 17px;">Thông tin đơn hàng</b></legend>
                                            <div class="box-header">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Đơn vị</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input class="form-control" disabled value="@Model.customerName" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Mã số thuế</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                                                            <input class="form-control" disabled value="@Model.taxCode" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 15px;">
                                                    <div class="col-md-6">
                                                        <label>Nơi xuất HĐ</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                            <input class="form-control" disabled value="@Model.invoiceAddress" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Địa chỉ giao hàng</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                                                            <input class="form-control" disabled value="@Model.deliveryAddress" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 15px;">
                                                    <div class="col-md-6">
                                                        <label>Số hóa đơn</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>
                                                            <input class="form-control" disabled value="@Model.invoiceNumber" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>VAT khách hàng</label><span style="color: red;">*</span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                                                            <input class="form-control number" style="text-align: left;" disabled value="@Model.vat"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 15px;">
                                                    <div class="col-md-6">
                                                        <label>Trạng Thái</label>
                                                        <div class="input-group">
                                                            <span class="label label-primary label-medium">
                                                                @Model.status                                                                
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                            <div class="box-header">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xs-12 table-responsive">
                                        <fieldset>
                                            <legend><b style="font-size: 17px;">Chi tiết đơn hàng</b></legend>
                                            <table class="table table-striped mainTable">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" style="width: 30px;">STT</th>
                                                        <th rowspan="2" colspan="2" style="width: 400px;">Sản phẩm</th>
                                                        <th colspan="2">Số lượng</th>
                                                        <th rowspan="2" style="width: 150px;">Đơn giá (VNĐ)</th>
                                                        <th rowspan="2" style="width: 150px;">Thành tiền trước chiết khấu (VNĐ)</th>
                                                        <th rowspan="2" style="width: 70px;">Chiết khấu (%)</th>
                                                        <th rowspan="2" style="width: 150px;">Thành tiền sau chiết khấu (VNĐ)</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 70px;">Cái</th>
                                                        <th style="width: 70px;">Thùng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.readItems.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>@(i + 1)</td>
                                                            <td style="vertical-align: middle; width: 24.7%;">
                                                                <input type="text" value="@Model.readItems[i].code" disabled class="form-control" />
                                                            </td>
                                                            <td style="vertical-align: middle;"><input type="text" value="@Model.readItems[i].param" disabled class="form-control" /></td>
                                                            <td><input type="text" value="@Model.readItems[i].Quantity" style="text-align:right;" disabled class="form-control" /></td>
                                                            <td><input type="text" value="@Model.readItems[i].Box" style="text-align:right;" disabled class="form-control" /></td>
                                                            <td><output class="number">@Model.readItems[i].per</output></td>
                                                            <td><output class="number">@Model.readItems[i].priceBeforeDiscount</output></td>
                                                            <td><input type="text" value="@Model.readItems[i].Discount" disabled class="form-control number" /></td>
                                                            <td><output class="number">@Model.readItems[i].Price</output></td>
                                                        </tr>
                                                    }
                                                    <tr style="background-color: #544d61;color: #fff;">
                                                        <td></td>
                                                        <td colspan="2" style="vertical-align: middle;"><b>Cộng</b></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output style="color: #fff; font-weight: bold;">@Model.qttTotal</output></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output style="color: #fff; font-weight: bold;">@Model.boxTotal</output></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output class="number" style="color: #fff; font-weight: bold;">@Model.subTotal</output></td>
                                                    </tr>
                                                    <tr style="background-color: #544d61;color: #fff;">
                                                        <td></td>
                                                        <td colspan="2" style="vertical-align: middle;"><b>Chiết khấu (%)</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <input type="text" value="@Model.discount" class="form-control number" disabled style="text-align: right; float: right; font-weight: bold;" />
                                                        </td>
                                                        <td style="text-align: right; vertical-align: middle;"><output class="number" style="color: #fff; font-weight: bold;">@Model.discountMoney</output></td>
                                                    </tr>
                                                    <tr style="background-color: #544d61;color: #fff;">
                                                        <td></td>
                                                        <td colspan="2" style="vertical-align: middle;"><b>Còn lại</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output class="number" style="color: #fff; font-weight: bold;">@Model.afterDiscountMoney</output></td>
                                                    </tr>
                                                    <tr style="background-color: #544d61;color: #fff;">
                                                        <td></td>
                                                        <td colspan="2" style="vertical-align: middle;"><b>VAT</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output class="number" style="color: #fff; font-weight: bold;">@Model.vat</output></td>
                                                    </tr>
                                                    <tr style="background-color: #544d61;color: #fff;">
                                                        <td></td>
                                                        <td colspan="2" style="vertical-align: middle;"><b>Tổng cộng</b></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="text-align: right; vertical-align: middle;"><output class="number" style="color: #fff; font-weight: bold;">@Model.total</output></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                            <div id="sound"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->
    </section>
    <div class="modal fade" id="confirmComplete" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xác nhận chốt đơn ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="doneOrder();">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmCancel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xác nhận hủy đơn hàng</h4>
                </div>
                <div class="modal-body">
                    <label>Bạn muốn hủy đơn hàng?</label>
                    <br />
                    <p>Lý do</p>
                    <textarea style="width: 100%" rows="10" id="reason"></textarea>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Đóng">
                    <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal" onclick="cancelOrder();">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
}
@section ChiTietPhieu
{
    <script src="/Assets/dist/js/sweetalert2.all.js"></script>
    <script src="/Assets/dist/js/autoNumeric.min.js"></script>
    <script src="/Assets/dist/js/ChiTietPhieu.js"></script>
}

