@model ThaiSonBacDMS.Areas.PhanPhoi.Models.ChiTietSanPhamModel

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout2.cshtml";
}

<style>
    /*jssor slider loading skin spin css*/
    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }


    /*
             keyframes jssorl-009-spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
        */

    /*jssor slider arrow skin 106 css*/
    .jssora106 {
        display: block;
        position: absolute;
        cursor: pointer;
    }

        .jssora106 .c {
            fill: #fff;
            opacity: .3;
        }

        .jssora106 .a {
            fill: none;
            stroke: #000;
            stroke-width: 350;
            stroke-miterlimit: 10;
        }

        .jssora106:hover .c {
            opacity: .5;
        }

        .jssora106:hover .a {
            opacity: .8;
        }

        .jssora106.jssora106dn .c {
            opacity: .2;
        }

        .jssora106.jssora106dn .a {
            opacity: 1;
        }

        .jssora106.jssora106ds {
            opacity: .3;
            pointer-events: none;
        }

    /*jssor slider thumbnail skin 101 css*/
    .jssort101 .p {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #000;
    }

        .jssort101 .p .cv {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #000;
            box-sizing: border-box;
            z-index: 1;
        }

    .jssort101 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 400;
        stroke-miterlimit: 10;
        visibility: hidden;
    }

    .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
        border: none;
        border-color: transparent;
    }

    .jssort101 .p:hover {
        padding: 2px;
    }

        .jssort101 .p:hover .cv {
            background-color: rgba(0,0,0,6);
            opacity: .35;
        }

        .jssort101 .p:hover.pdn {
            padding: 0;
        }

            .jssort101 .p:hover.pdn .cv {
                border: 2px solid #fff;
                background: none;
                opacity: .35;
            }

    .jssort101 .pav .cv {
        border-color: #fff;
        opacity: .35;
    }

    .jssort101 .pav .a, .jssort101 .p:hover .a {
        visibility: visible;
    }

    .jssort101 .t {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        opacity: .6;
    }

    .jssort101 .pav .t, .jssort101 .p:hover .t {
        opacity: 1;
    }

    #example1 {
        background-color: rgb(240, 240, 240);
    }

        #example1 thead tr th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #3c8dbc;
            color: #fff;
        }

    tfoot {
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        background-color: #544d61;
    }

    #example1 tr td {
        text-align: center;
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

    .active {
        display: block;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }

    #sanPham tr td {
        height: 23px;
    }
</style>
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="phanphoi_index.html">
                <i class="fa fa-dashboard"></i> Trang Chủ
            </a>
        </li>
        <li>Danh sách sản phẩm</li>
        <li><a href="phanphoi_hanghoa_chi-tiet-san-pham.html">Chi tiết sản phẩm</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!--main col-->
        <div class="col-xs-12">
            <!--main box-->
            <div class="box">
                <div class="row" style="margin-left:0px; margin-right:0px; margin-top: 10px;margin-bottom: -7px">
                    <div class="col-md-12">
                        <h4>
                            <b>Chi tiết sản phẩm : @Model.itemDisplay.product.Product_code</b>
                        </h4>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <!--col-->
                        <div class="col-md-12">
                            <div class="box">
                                <div class="row" style="margin-bottom: 50px;">
                                    <div class="col-xs-6" style="text-align : center">
                                        <!-- #region Jssor Slider Begin -->
                                        <!-- Generator: Jssor Slider Maker -->
                                        <!-- Source: https://www.jssor.com -->
                                        <script src="/Assets/dist/js/jssor.slider-26.9.0.min.js" type="text/javascript"></script>
                                        <script type="text/javascript">
                                            jssor_1_slider_init = function () {

                                                var jssor_1_SlideshowTransitions = [
                                                    { $Duration: 800, x: 0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: -0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, $SlideOut: true, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: 0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: -0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: -0.3, $During: { $Top: [0.3, 0.7] }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: 0.3, $SlideOut: true, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, $Cols: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: 0.3, $Rows: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: 0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: 0.3, $Cols: 2, $During: { $Top: [0.3, 0.7] }, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, y: -0.3, $Cols: 2, $SlideOut: true, $ChessMode: { $Column: 12 }, $Easing: { $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, $Rows: 2, $During: { $Left: [0.3, 0.7] }, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: -0.3, $Rows: 2, $SlideOut: true, $ChessMode: { $Row: 3 }, $Easing: { $Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, x: 0.3, y: 0.3, $Cols: 2, $Rows: 2, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $ChessMode: { $Column: 3, $Row: 12 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, $Delay: 20, $Clip: 3, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, $Delay: 20, $Clip: 3, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, $Delay: 20, $Clip: 12, $Assembly: 260, $Easing: { $Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                                                    { $Duration: 800, $Delay: 20, $Clip: 12, $SlideOut: true, $Assembly: 260, $Easing: { $Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 }
                                                ];

                                                var jssor_1_options = {
                                                    $AutoPlay: 1,
                                                    $Cols: 1,
                                                    $Align: 0,
                                                    $SlideshowOptions: {
                                                        $Class: $JssorSlideshowRunner$,
                                                        $Transitions: jssor_1_SlideshowTransitions,
                                                        $TransitionsOrder: 1
                                                    },
                                                    $ArrowNavigatorOptions: {
                                                        $Class: $JssorArrowNavigator$
                                                    },
                                                    $ThumbnailNavigatorOptions: {
                                                        $Class: $JssorThumbnailNavigator$,
                                                        $Cols: 5,
                                                        $SpacingX: 5,
                                                        $SpacingY: 5,
                                                        $Align: 390
                                                    }
                                                };

                                                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                                                /*#region responsive code begin*/

                                                var MAX_WIDTH = 400;

                                                function ScaleSlider() {
                                                    var containerElement = jssor_1_slider.$Elmt.parentNode;
                                                    var containerWidth = containerElement.clientWidth;

                                                    if (containerWidth) {

                                                        var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                                                        jssor_1_slider.$ScaleWidth(expectedWidth);
                                                    } else {
                                                        window.setTimeout(ScaleSlider, 30);
                                                    }
                                                }

                                                ScaleSlider();

                                                $Jssor$.$AddEvent(window, "load", ScaleSlider);
                                                $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                                                $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                                                /*#endregion responsive code end*/
                                            };
                                        </script>

                                        <div id="jssor_1" style="position:relative;margin:0 auto;top:20px;left:0px;width:980px;height:800px;overflow:hidden;visibility:hidden;">
                                            <!-- Loading Screen -->
                                            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                                                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/Assets/dist/img/spin.svg" />
                                            </div>
                                            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:600px;overflow:hidden;">
                                                @foreach (var item in Model.lstLocation)
                                                {
                                                    <div data-p="170.00">
                                                        <img data-u="image" src="@item" />
                                                        <img data-u="thumb" src="@item" />
                                                    </div>

                                                }

                                            </div>
                                            <!-- Thumbnail Navigator -->
                                            <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
                                                <div data-u="slides">
                                                    <div data-u="prototype" class="p" style="width:190px;height:90px;">
                                                        <div data-u="thumbnailtemplate" class="t"></div>
                                                        <svg viewbox="0 0 16000 16000" class="cv">
                                                            <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                                                            <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                                                            <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Arrow Navigator -->
                                            <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:262px;left:30px;" data-scale="0.75">
                                                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                    <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                                    <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                                                    <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
                                                </svg>
                                            </div>
                                            <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:262px;right:30px;" data-scale="0.75">
                                                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                    <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                                    <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                                                    <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
                                                </svg>
                                            </div>
                                        </div>
                                        <script type="text/javascript">jssor_1_slider_init();</script>
                                    </div>
                                    <div class="col-xs-6">
                                        <div style="margin-top:35px">
                                            <table id="detail" style="padding: 15px;margin-top:65px;font-size:15px">
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fa fa-file"></i> Mã máy :</td>
                                                        <td style="padding-left: 10px">@Model.itemDisplay.product.Product_code</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fa fa-handshake-o"></i> Nhà cung cấp : </td>
                                                        <td style="padding-left: 10px">@Model.itemDisplay.supplierName</td>
                                                    </tr>
                                                    <tr>

                                                        <td><i class="fa fa-money"></i> Giá :</td>
                                                        <td style="padding-left: 10px;color:red" class="number">@Model.itemDisplay.product.Price_before_VAT_VND</td>
                                                    </tr>

                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="nav-tabs-custom">
                                            <div class="nav nav-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tongQuan" data-toggle="tab" aria-expanded="true">Tổng quan sản phẩm</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#chiTiet" data-toggle="tab" aria-expanded="false">Thông tin chi tiết</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div id="tongQuan" class="active tab-pane" style="height: 300px">
                                        <div style="margin-top:30px;margin-left:40px">
                                            <b>Mô tả:</b>
                                            <br />
                                            <h5>
                                                @Model.itemDisplay.product.Overview
                                            </h5>
                                        </div>
                                    </div>

                                    <div id="chiTiet" class="tab-pane" style="height: 300px">
                                        <div style="margin-top:30px;margin-left:40px">

                                            <h5>
                                                @Model.itemDisplay.product.Specification
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <!--end div tab-content-->

                                <hr>

                                <div class="row">
                                    <fieldset class="col-sm-12">
                                        <legend><b>Danh sách đơn hàng đã đặt sản phẩm này</b></legend>
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:2%">STT</th>
                                                    <th style="width:5%">Lô Số</th>
                                                    <th style="width:5%">Ngày</th>
                                                    <th style="width:5%">Số Lượng</th>
                                                    <th style="width:7%">Tổng Tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.lstDisplay.Count == 0)
                                                {
                                                    <tr>
                                                        <td colspan="4" style="font-size:17px">Không tìm thấy bản ghi nào!</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    int i = 1;
                                                    foreach (var itemDisplay in Model.lstDisplay)
                                                    {
                                                        <tr>
                                                            <td class="length">@i</td>
                                                            <td>@itemDisplay.item.Order_ID</td>
                                                            <td class="date">@itemDisplay.date</td>
                                                            <td style="text-align:center" id="quantity_@i">@itemDisplay.item.Quantity</td>
                                                            <td style="text-align:right" class="number" id="price_@i">@itemDisplay.item.Price</td>
                                                        </tr>

                                                        i++;
                                                    }
                                                }


                                            </tbody>
                                            @if (Model.lstDisplay.Count != 0)
                                            {
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3" class="text-center">Tổng</td>

                                                        <td style="text-align:center" class="number" id="quantity"></td>
                                                        <td style="text-align:right" class="number" id="price"></td>
                                                    </tr>
                                                </tfoot>
                                            }
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end body col-->
                </div>
            </div>
            <!--end body box-->
        </div>
    </div>
</section>
@section Index{
    <script src="/Assets/dist/js/autoNumeric.js"></script>
    <script src="/Assets/dist/js/autoNumeric.min.js"></script>
    <script>
        $(document).ready(function () {
            display();
            tinhTong();
            $('.number').autoNumeric('init', { minimumValue: '1', maximumValue: '9999999999999', digitGroupSeparator: ',', mDec: '0' });
        });
        function tinhTong() {
            var quantity = 0;
            var price = 0;
            var length = $(".length").length;
            for (var i = 1; i <= length; i++) {
                quantity += parseFloat($("#quantity_" + i).text().replace(/,/g, ''));
                price += parseFloat($('#price_' + i).text().replace(/,/g, ''));
            }
            $('#quantity').text(quantity);
            $('#price').text(price);

        }
        function display() {
            for (var i = 0; i < $('.date').length; i++) {
                if ($($('.date')[i]).text()) {
                    var date = $($('.date')[i]).text().split(" ");
                    $($('.date')[i]).text(date[0]);
                }
            }
        }
        $(function () {

            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'language': {
                    "lengthMenu": "Hiển thị _MENU_ dòng",
                    "info": "Đang hiển thị _START_ tới _END_ tổng số _TOTAL_ kết quả",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    }
                }
            })
        })
    </script>
}